<div class="wrapper">
  <div class="container">
    <span class="heading">Count Down</span>
    <table>
      <thead>
          <th>Days</th>
          <th>Hrs</th>
          <th>Mins</th>
          <th>Secs</th>
      </thead>
      <tbody>
          <td [ngStyle]="styles.daysStyle">{{counter.days}}</td>
          <td [ngStyle]="styles.hoursStyle">{{counter.hours}}</td>
          <td [ngStyle]="styles.minutesStyle">{{counter.minutes}}</td>
          <td [ngStyle]="styles.secondsStyle">{{counter.seconds}}</td>
      </tbody>
      
    </table>
    
  </div>
</div>





<router-outlet></router-outlet>